<div class='row cardRows'>
    <div class='col s4'>
        <div class='card dashboard-card'>
            <div class='card-image waves-effect waves-block waves-light'>
                <img class='activator' src="assets/oklahoma.svg">
            </div>
            <div class='card-content'>
                <span class="card-title activator grey-text text-darken-4">Sample Card<i
                        class='material-icons right'>more_vert</i></span>
            </div>
            <div class='card-reveal'>
                <span class='card-title grey-text text-darken-4'>NFL Fantasy League<i
                        class="material-icons right">close</i></span>
                <p>The information here only shows once the card is clicked on, works for storing more
                    information about the teams</p>
            </div>
        </div>
    </div>
    <div class='col s4'>
        <div class='card dashboard-card'>
            <div class='card-image waves-effect waves-block waves-light'>
                <img class='activator' src="assets/oklahoma.svg">
            </div>
            <div class='card-content'>
                <span class="card-title activator grey-text text-darken-4">Sample Card<i
                        class='material-icons right'>more_vert</i></span>
            </div>
            <div class='card-reveal'>
                <span class='card-title grey-text text-darken-4'>NFL Fantasy League<i
                        class="material-icons right">close</i></span>
                <p>The information here only shows once the card is clicked on, works for storing more
                    information about the teams</p>
            </div>
        </div>
    </div>
    <div class='col s4'>
        <div class='card dashboard-card'>
            <div class='card-image waves-effect waves-block waves-light'>
                <img class='activator' src="assets/oklahoma.svg">
            </div>
            <div class='card-content'>
                <span class="card-title activator grey-text text-darken-4">Sample Card<i
                        class='material-icons right'>more_vert</i></span>
            </div>
            <div class='card-reveal'>
                <span class='card-title grey-text text-darken-4'>NFL Fantasy League<i
                        class="material-icons right">close</i></span>
                <p>The information here only shows once the card is clicked on, works for storing more
                    information about the teams</p>
            </div>
        </div>
    </div>
</div>


