<div class="teams">
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="assets/36649-5-american-football-ball-the-duke.png" class="square">
            {{!-- <span class="title">Team Name</span> --}}
            <p>Team Name</br>
                First stat/info</br>
                Second stat/info</br>
                Third stat/info
            </p>
            <button type="sumbmit">Pick Team</button>
        </li>
    </ul>
</div>
<div class="teams">
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="assets/36649-5-american-football-ball-the-duke.png" class="square">
            {{!-- <span class="title">Team Name</span> --}}
            <p>Team Name</br>
                First stat/info</br>
                Second stat/info</br>
                Third stat/info
            </p>
            <button type="sumbmit">Pick Team</button>
        </li>
    </ul>
</div>