<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue 42</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Glory:wght@500&family=Libre+Franklin:wght@300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Glory:wght@500&family=Libre+Franklin:wght@300&family=Maven+Pro&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav">
            <h1 class="webName">Blue 42</h1>
            <nav class="navbar">
                {{!-- {{#if loggedIn}} --}}
                {{!-- Will replace with the href once it's created --}}
                <button id='myTeam' class='navbtn'>My Team</button>
                <button id='draftPlayers' class='navbtn'>Draft Players</button>
                <button id='viewMatchups' class='navbtn'>Matchups</button>

                <button id='logout' class='navbtn'>Logout</button>
                {{!-- {{else}} --}}
                {{!-- Will replace with the href once it's created --}}
                <button id='login' class='navbtn'>Login</button>
                {{!-- {{/if}} --}}
            </nav>

        </div>
    </header>

    <main>
        {{{ body }}}
    </main>
    <footer>

    </footer>
</body>

</html>