<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue 42</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Glory:wght@500&family=Libre+Franklin:wght@300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Glory:wght@500&family=Libre+Franklin:wght@300&family=Maven+Pro&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/36649-5-american-football-ball-the-duke.png" />
</head>

<body>
    <header>
        <div class="nav">
            <h1 class="webName">Blue 42</h1>
            <nav class="navbar">
                {{!-- {{#if loggedIn}} --}}
                {{!-- Will replace with the href once it's created --}}
                <button id='dashboard' class='navbtn'>My Dashboard</button>
                <button id='pickTeam' class='navbtn'>Pick Teams</button>
                <button id='viewMatchups' class='navbtn'>Matchups</button>

                <button id='logout' class='navbtn'>Log out</button>
                {{!-- {{else}} --}}
                {{!-- Will replace with the href once it's created --}}
                <button id='login' class='navbtn'>Log in</button>
                {{!-- {{/if}} --}}
            </nav>

        </div>
    </header>

    <main>
        {{{ body }}}
    </main>
    <footer>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>