<section class='wrapper'>
    <div>
        {{!-- Text describing what your dashboard is/you look at your team here --}}
    </div>
    <div class="fantasy-team">
        <div class="dashboard-h2">
            <h2>My Fantasy Teams</h2>
            <p></p>
        </div>
        <div>
            {{!-- show the team(s) the user picked here as a card --}}
            {{> card}}
        </div>
    </div>
</section>