<section class="jumbotron">

</section>


    <section class="whoWeAre">
        <h2> Launch Your Fantasy Team With Blue 42 </h2>
        <p>Here at Blue 42, we seek to bring to you a simple yet fun fantasy football experience that even beginners can dive into.
            Instead of NFL, our focus is on college football, since we found most fantasy football websites out there cater more to the NFL.
            The best part? Signing up for an account is free! Get started drafting your perfect team today.
        </p>
    </section>
    <section class="signup">
        <h2>Signup Today</h2>
        <form class="signupForm">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username" />

            <label for="password">Password</label>
            <input type="text" id="password" placeholder="Password" />

            <button type="submit" id='submit'>Signup</button>

        </form>
    </section>
