<section class="jumbotron">

</section>


<section class="whoWeAre">
    <h2> Create Your Fantasy Team With Blue 42 </h2>
    <p>Here at Blue 42, we seek to bring to you a simple yet fun fantasy football experience that even beginners can
        dive into.
        Instead of NFL, our focus is on college football, since we found most fantasy football websites out there cater
        more to the NFL.
        The best part? Signing up for an account is free! Get started drafting your perfect team today.
    </p>
</section>
<section class="signup">
    <h2 class="signup-h2">Sign up Today</h2>
    <form class="signupForm">
        <div>
            <label for="username" class="username-label">Username</label>
            <input type="text" id="username" name="username" class="username-text"placeholder="Username" />
        </div>
        <div>
            <label for="email" class="email-label">Email</label>
            <input type="text" id="email" name="email" class='email-text' placeholder="sample@gmail.com" />
        </div>
        <div>
            <label for="password" class="password-label">Password</label>
            <input type="text" id="password" name="password" class="password-text" placeholder="Password" />
        </div>
        <div>
            <button type="submit" id='submit' class="submit-btn" >Sign up</button>
        </div>
    </form>
</section>
<script src="javascript/signup.js"></script>