<section class="jumbotron">

</section>

<section class="info">
    <div>
        <p>Here at Blue 42, we seek to bring to you a simple yet fun fantasy football experience that even beginners can dive into.
            Instead of NFL, our focus is on college football, since we found most fantasy football websites out there cater more to the NFL.
            The best part? Signing up for an account is free! Get started drafting your perfect team today.
        </p>
    </div>
</section>