<form class="loginForm">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" placeholder="Password" />
    </div>
    <div>
        <button type="submit" id='submit'>Signup</button>
    </div>
</form>