<form class="loginForm">
    <h2 class="login-h2">
        Log In:
    </h2>
    <div class='username'>
        <label for="username" class="username-label-login">Username</label>
        <input type="text" id="username" class="username-text" placeholder="Username" />
    </div>
    <div class='password'>
        <label for="password" class="password-label">Password</label>
        <input type="text" id="password" class="password-text" placeholder="Password" />
    </div>
    <div>
        <button type="submit" id='submit' class="submit-btn">Log in</button>
    </div>
</form>