<section class='wrapper'>
    <div>
        {{!-- Aoption to add a blub here saying "pick teams" or something --}}
    </div>
    <div class="team-listings">
        <div class="teams-h2">
            <h2>Pick Your Teams</h2>
            <p></p>
        </div>
        <div class="container services">
            {{!-- show the team(s) the user picked here as a card --}}
            <div class='cardRows'>
                    {{#each teamsAvailable}}
                    {{> team-list}}
                    {{/each}}
            </div>
        </div>
    </div>
</section>