header{
    background-image: url(../assets/lucas-andrade-M8uBaLEyGV4-unsplash.jpg);
    height: 800px;
    width: 1600px;
    background-position: center;
}
.navbar{
    overflow: hidden;
  display: flex;  
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.navbtn {
    border: none;
    padding: 5px;
    margin-left: 10px;
}
.header-h1{
    text-align: center;
}