header{
    flex-wrap: wrap;
}
.navbar{
  overflow: hidden;
  display: flex;  
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.navbtn {
    border: none;
    padding: 5px;
    margin-left: 10px;
    background: none;
    /* color: white; */
}
.header-h1{
    text-align: center;
    display: inline-block;
}
.jumbotron{
    background-image: url(../assets/lucas-andrade-M8uBaLEyGV4-unsplash.jpg);
    background-size: 1800px 800px;
    background-position: center;
    height: 500px;
}